# Zkopíruj tento soubor jako .env a vyplň hodnoty
# NIKDY necommituj .env do Gitu!

INSTAGRAM_ACCESS_TOKEN=ZDE_VLOZ_SVUJ_ACCESS_TOKEN
INSTAGRAM_PAGE_ID=17841407937159484
APP_SECRET=ZDE_VLOZ_SVUJ_APP_SECRET
VERIFY_TOKEN=mojetajneheslo6769
REPLY_COOLDOWN=86400
