# Zkopíruj tento soubor jako .env a vyplň hodnoty
# NIKDY necommituj .env do Gitu!

INSTAGRAM_ACCESS_TOKEN=EAAS1KAEoyVcBRf5MhzoCKaJ9OiD8GLWnvlz9iyZBlh85Lg8JWbDDez31ZCxcZCeOMObErt1153ksZCQy0b1I3G8IO6MZCHowhZAYSXX6ntD5WEaArjY5AfntrcC5FpwNqghndSKwnRppZCgatrJSt6RpUmsO4wUZAx0r5byapVTG1Ojh4ORXc65QZCYWQqtKD63afnMEA1AdHv7ipfckwIf9lZArvYQvynRXB046XdOnBGOr8ZD
INSTAGRAM_PAGE_ID=17841407937159484
APP_SECRET=89fa27a619c0e672984110d1b2f11e8b
VERIFY_TOKEN=mojetajneheslo6769
REPLY_COOLDOWN=86400
